docker.enabled = true

params {
    nlnet_rscript  = "templates/nlnet.R"
    genie3_rscript = "templates/genie3.R"
    NI_script      = "templates/NetworkInference.jl"
    EB_script      = "templates/EB.jl"
    outdir         = "./results"
    count_data     = "../Data/Test2.txt"
    test_SC        = "../Data/expr_mat_small.loom"
    matrix         = "../Data/test.loom"
    TFs            = "../Data/tf.txt"
    network        = "../Data/network.txt"
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}