docker.enabled = true

params{
    genie_script   = "../templates/genie3_eb.R"
    genie_con_gene = "../templates/genie_convert_cellno.py"
    input_fix      = "../templates/Add_gene_names.py"
    pidc_eb        = "../templates/PIDC.jl"
    metrics        = "../templates/pidc_metrics.py"

    outdir         = "./results"
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}