docker.enabled = true

params{
    convert_file   = "../templates/EB_readable.py"
    research_con   = "../templates/research_data_convert.py"
    add_gene_name  = "../templates/Add_gene_names.py"
    prior_eb       = "../templates/Posterior_calculation.jl"
    metrics        = "../templates/metrics_research.py"      
    outdir         = "./results"    
    clean          = "./Data/25genes_2000cells.txt"

}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}