docker.enabled = true

params{
    outdir         = "./results"

    nlnet          = "../templates/ensemble_nlnet.R"
    genie_met_con  = "../templates/genie_met_con.py"
    genie_script   = "../templates/genie3_eb.R"
    input_fix      = "../templates/Add_gene_names.py"
    info_measure   = "../templates/information_measures.jl"
    ensemble       = "../templates/ensemble.py"
    eb_run         = "../templates/PIDC.jl"
    metrics        = "../templates/ensemble_matrics.py"
    normalisation  = "../templates/Normalisation_points.py"
    normalise_eb   = "../templates/EB_normalisation.py"
    ensemble_mat   = "../templates/emsemble_output.py"
    tigress        = "../templates/tigress.R"
    pearson        = "../templates/corr.R"
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}