docker.enabled = true

params {
    input_fix      = "../templates/Add_gene_names.py"
    Emp_Bayes      = "../templates/EB.jl"
    metrics_EB     = "../templates/metrics_EB.py"
    outdir         = "./results"
    genie3_eb      = "../templates/genie3_eb.R"
    genie3_con     = "../templates/eb_genie3.py"
    nlnet_score    = "../templates/FDR_matrix.R"
    genie3_nor     = "../templates/genie3.R"
    genie3_nor_cor = "../templates/genie_convert.py"
    NI_script      = "../templates/NetworkInference.jl"
    NI_convert     = "../templates/NI_converter.py"    
    test_data      = "Data/Test2.txt"
    gene_read10    = "Data/10genes.txt"
    gene_orig10    = "Data/genes=10_cells=100_original.csv"
    zero_file10    = "Data/zero_prior10.csv"
    gene_read25    = "Data/25genes.txt"
    gene_orig25    = "Data/Original_test.csv"
    gene_read50    = "Data/50genes.txt"
    gene_orig50    = "Data/genes=50_cells=500_original.csv"
    zero_file50    = "Data/zero_prior50.csv"
    no_prior       = "Data/no_priors.csv"

    messy100       = "Data/25genes_100cells_messy.txt"
    messy250       = "Data/25genes_250cells_messy.txt"
    messy500       = "Data/25genes_500cells_messy.txt"
    messy1000      = "Data/25genes_1000cells_messy.txt"
    messy2000      = "Data/25genes_2000cells_messy.txt"

    g_r25c100      = "Data/25genes_100cells.txt"
    g_r25c250      = "Data/25genes_250cells.txt"
    g_r25c500      = "Data/25genes_500cells.txt"
    g_r25c1000     = "Data/25genes_1000cells.txt"
    g_r25c2000     = "Data/25genes_2000cells.txt"

    clean_test1    = "Data/2000cells_test1.txt"
    clean_test2    = "Data/2000cells_test2.txt"
    clean_test3    = "Data/2000cells_test3.txt"
    clean_test4    = "Data/2000cells_test4.txt"

    messy_test1    = "Data/2000cells_test1_messy.txt"
    messy_test2    = "Data/2000cells_test2_messy.txt"
    messy_test3    = "Data/2000cells_test3_messy.txt"
    messy_test4    = "Data/2000cells_test4_messy.txt"

    original_test1 = "Data/2000cells_test1_original.csv"
    original_test2 = "Data/2000cells_test2_original.csv"
    original_test3 = "Data/2000cells_test3_original.csv"
    original_test4 = "Data/2000cells_test4_original.csv"

    half           = "Data/half_prior.csv"
    
    normalised     = "../templates/normalise.py"
}


env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}

