docker.enabled = true

params{
    testing_data   = "./Data/25genes_1000cells.txt"
    messy_data     = "./Data/25genes_1000cells_messy.txt"
    original       = "./Data/Original_test.csv"
    outdir         = "./results"
    input_fix      = "../templates/Add_gene_names.py"
    Emp_bay        = "../templates/EB_thresh.jl"
    metrics        = "../templates/threshold_metrics.py"
    prior_eb       = "../templates/Posterior_calculation.jl"  
    genie_script   = "../templates/genie3_eb.R"
    genie_con      = "../templates/genie3_normalised.py"


    research_con   = "../templates/research_data_convert.py"
    toy_data       = "../Actual_data_tests/Research_data/inputs/Curated/GSD/GSD-2000-3-70/ExpressionData.csv"
    toy_truth      = "../Actual_data_tests/Research_data/inputs/Curated/GSD/GSD-2000-3-70/refNetwork.csv"
    zero           = "./Data/zeroed.csv"
    metrics_mich   = "../templates/michael_metrics.py"

    genie_research = "../templates/genie_research_con.py"
    genie_con_gene = "../templates/genie_convert_cellno.py"
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}