docker.enabled = true

params {
    input_fix      = "../templates/Add_gene_names.py"
    Emp_Bayes      = "../templates/EB.jl"
    outdir         = "./results"
    test_data      = "Data/Test2.txt"
    gene_read25    = "Data/25genes.txt"
    gene_orig25    = "Data/Original_test.csv"
}


env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}