docker.enabled = true

params {
    messy_data     = "Data/25genes_500cells_messy.txt"
    clean_data     = "Data/25genes_500cells.txt"
    original       = "Data/Original_test.csv"
    outdir         = "./results"
    input_fix      = "../templates/Add_gene_names.py"    
    NI_script      = "../templates/NetworkInference.jl"
    NI_convert     = "../templates/NI_con_threshold.py"
    metrics        = "../templates/threshold_metrics.py" 
    genie_script   = "../templates/genie3.R"
    genie_con      = "../templates/genie_convert_thresh.py"
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}