docker.enabled = true

params{
    outdir         = "./results"

    geneci_convert = "../templates/convert_to_GENCI.py"
    input_fix      = "../templates/Add_gene_names.py"
    eb_geneci      = "../templates/EB_GENECI.jl"
    metrics        = "../templates/GENCI_metrics.py"
    pidc           = "../templates/4_5_pidc.jl"
    bootstrap      = "../templates/bootstrapping.jl"
    prior_boot     = "../templates/bootstrapping_priors.jl"
    eb_genci_prior = "../templates/EB_GENECI_priors.jl"
    pidc_boot      = "../templates/bootstrap_pidc.jl"

    pidc_zero      = "../templates/4_5_pidc_zero.jl"

    zero           = "../PIDC_testing/Data/zeroed.csv"
    zero_bee       = "../../Directed_groundtruth/zeroed_beeline.csv"

}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}