docker.enabled = true

params{
    outdir         = "./results"

    geneci_convert = "../templates/convert_to_GENCI.py"
    input_fix      = "../templates/Add_gene_names.py"
    eb_geneci      = "../templates/EB_GENECI.jl"
    metrics        = "../templates/GENCI_metrics.py"
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}