docker.enabled = true

params {
    nlnet_rscript  = "../templates/nlnet.R"
    genie3_rscript = "../templates/genie3.R"
    NI_script      = "../templates/NetworkInference.jl"
    EB_script      = "../templates/EB.jl"
    nlnet_convert  = "../templates/NLNET_converter.py"
    NI_convert     = "../templates/NI_converter.py"
    metric         = "../templates/metrics.py"
    input_fix      = "../templates/NI_to_readable.py"
    genie_convert  = "../templates/genie_convert.py"
    slingshot      = "../templates/slingshot.R"
    SCODE          = "../templates/SCODE.R"
    SCODE_convert  = "../templates/SCODE_converter.py"
    outdir         = "./results"
    count_data     = "Data/Test2.txt"
    EB_count       = "Data/Test2_new.txt"
    test_SC        = "Data/expr_mat_small.loom"
    matrix         = "Data/test.loom"
    TFs            = "Data/tf.txt"
    network        = "Data/network.txt"
    toy            = "Data/toy.txt"
    toy_original   = "Data/toy_original.csv"
    original_mat   = "Data/Original_test.csv"
    toy_count      = "Data/toy_matrix.csv"
    
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/Applications/Julia-1.9.app/Contents/Resources/julia/share/julia"
}